html {
  font-size: 65%;
  margin: auto;
  padding: 3.5em;
}

body {
  font-family: "Fredoka One";
  margin: 0 auto;
}
.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

/* Navbar */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav {
  margin: 4em;
}

nav ul {
  list-style-type: none;
  display: flex;
  gap: 4.1em;
  margin: auto;
  padding: 0px 0px 0px 0px;
}

nav ul li a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-size: 1.6rem;
  position: relative;
}

nav ul li a.active::after {
  position: absolute;
  content: "";
  width: 35%;
  height: 1px;
  border-bottom: 2px solid black;
  bottom: -6px;
}

/* Hero Section */
main {
  display: flex;
  gap: 8em;
  margin-top: 11em;
}

.left-col {
  width: 40%;
}
.right-col {
  flex-grow: 1;
  display: grid;
  gap: 2.5em;
  grid-template-columns: repeat (2, auto);
  background-size: 20%;
  grid-template-areas:
    "left ."
    "left .";
}

.card {
  border-radius: 0.8em;
  padding: 1.1em;
  display: flex;
  background-size: 150%;
  border: 1px solid black;
  align-items: end;
}

.card-details {
  background-color: white;
  border-radius: 5%;
  padding: 1em;
}

.card1 {
  grid-area: left;
  background-image: url("..//img/characters.jpeg");
  background-size: cover;
  position: relative;
}
.card2 {
  background-image: url("..//img/cards.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}
.card3 {
  background-image: url("..//img/mater2.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: end;
  text-decoration: none;
  align-items: bottom right;
}
h1 {
  font-size: 5.2rem;
  margin: auto;
  color: antiquewhite;
}
.subhead {
  font-size: 1rem;
  font-family: "Indie Flower";
}

.cta-btns {
  display: flex;
  gap: 2em;
  align-items: center;
  text-align: center;
}

.primary-cta {
  background-color: antiquewhite;
  font-size: 1.8rem;
  font-weight: bold;
  color: black;
  text-decoration: none;
  border-radius: 1.9em;
  padding: 0.8em 1em;
}

.secondary-cta {
  font-size: 1.8rem;
  text-decoration: none;
  color: black;
  display: block;
}

button {
  display: block;
  border-radius: 3.4em;
  background-color: antiquewhite;
  font-size: 1.8rem;
  font-weight: bold;
  color: white;
  border: solid white;
  border-radius: 1.9em;
  font-family: "Indie Flower";
  padding: 2.5em 5em;
  margin: 5em auto;
}

button:hover {
  cursor: pointer;
  background-color: black;
}

.touch {
  font-size: 5.2rem;
  margin: 0 auto;
  color: antiquewhite;
  text-align: center;
}

.purchase {
  display: block;
  padding: 2.5em 5em;
  margin: 5em auto;
  align-items: center;
}
